.content {
  max-width: 1920px;
  display: flex;

}

.logo-name {
  max-width: 148px;

  &__name {
    font-size: 18px;
  }

  &__logo {
    max-width: 42px;
  }
}

.admin-logo-container {
  padding: 15px 15px 0;
  border-right: 1px solid #000;
}

.admin-header {
  padding: 22px 20px 22px 70px;
  display: flex;
  justify-content: space-between;
  background: var(--Green, #D4F21D);
  flex-grow: 1;

  &__title {
    font-size: 36px;
  }

  &__data-time {
    display: flex;
    flex-direction: column;
  }

  &__time {
    align-self: end;
  }
}

.event {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 70px;
    margin-top: 50px;
  }

  &__btn {
    margin-top: 30px;
  }
  
}