.auth {
  max-width: 332px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 233px;

  &__logo-name {
    align-self: start;
    margin-left: 29px;
    margin-bottom: 67px;
  }

  &__input {
    &-password {
      margin-bottom: 30px;
    }
  
    &-login {
      margin-bottom: 20px;
    }  
  } 
}

.admin-input {
  width: 100%;
  max-width: 332px;
  height: 66px;
  padding: 10px 38px;
  border-radius: 40px;
  border: 1px solid var(--Black, #000);
  font-size: 20px;
  line-height: 120%;

  &::placeholder {
    color: #000;
  }
  
}