.auth {
  max-width: 332px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 233px;

  &__logo-name {
    align-self: start;
    margin-left: 29px;
    margin-bottom: 67px;
  }

  &__input {
    &-password {
      margin-bottom: 30px;
    }
  
    &-login {
      margin-bottom: 20px;
    }  
  } 
}

.admin-input {
  width: 100%;
  max-width: 332px;
  height: 66px;
  padding: 10px 38px;
  border-radius: 40px;
  border: 1px solid var(--Black, #000);
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;

  &::placeholder {
    color: #000;
  }

  &-textarea {
    height: 66px * 3;
  }
  
}





// admin-event styles

.content {
  max-width: 1920px;


}

.admin-page {
  display: flex;
}

.logo-name {
  max-width: 148px;

  &__name {
    font-size: 18px;
  }

  &__logo {
    max-width: 42px;
  }
}

.admin-aside {
  padding: 15px 15px 70px;
  border-right: 1px solid #000;
  height: 100vh;
  position: fixed;
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-header {
  padding: 22px 20px 22px 70px;
  display: flex;
  justify-content: space-between;
  background: var(--Green, #D4F21D);
  position: fixed;
  left: 178px;
  width: 100%;

  &__title {
    font-size: 36px;
  }

  &__data-time {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    align-self: center;
    
  }

  &__time {
    align-self: end;
  }
}

.admin-header-form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}

.admin-form {
  padding-left: 70px + 178px;;
  padding-top: 50px + 88px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.event {
  &__form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }

  &__btn {
    margin-top: 10px;
  }
}



// admin-events styles

.table {
  max-width: 1524px;
  width: 100%;

  &__name-cell {
    width: 100%;
    & td {
      border: none !important; 
      padding: 0 !important;
      vertical-align: middle; 
    }

    &-img {
      padding-right: 20px;
    }
  }

  &__time-cell {
    width: 100%;
    & td {
      border: none !important; 
      padding: 0 !important;
      vertical-align: middle; 
      
    }

    &-img {
      padding-left: 20px;
    }
  }

  & th {
    border: 1px solid black;
    background-color: rgba(194, 145, 244, 0.6);
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    padding: 10px 12px;
    text-align: left;
  }

  & td {
    border: 1px solid black;
    font-size: 16px;
    line-height: 110%;
    padding: 10px 12px;
    word-wrap: break-word;
      vertical-align: middle; 
    

  }
  
}

// .table {
//   display: grid;
//   border-collapse: collapse;
//   max-width: 1524px;
//   width: 100%;
//   border-bottom: 1px solid #B9B9B9;
//   border-left: 1px solid #B9B9B9;

//   &__header {
//     background-color: rgba(194, 145, 244, 0.6);

//     & span {
//       font-size: 12px;
//       font-weight: 600;
//       line-height: 130%;
//     }
//   }

//   &-row {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr; /* Четыре столбца с пропорциями */
//     border-top: 1px solid #B9B9B9;
//   }

//   &-cell {
//     padding: 10px 12px;
//     font-size: 16px;
//     line-height: 110%;
//     padding: 10px 12px;
//     display: flex;
//     align-items: center;
//     border-right: 1px solid #B9B9B9;

//     &__text-container {
//       display: flex;
//       align-items: center;
//       gap: 20px;
//       font-size: 16px;
//       line-height: 110%;
//       width: 100%;

//       &_time {
//         justify-content: space-between;
//       }
//     }
//   }
// }

.events {
  &__table-title {
    font-size: 32px;
    font-weight: 700;

    &_active {
      margin-bottom: 20px;
    }

    &_completed {
      margin-top: 45px;
      margin-bottom: 64px;
    }
  }

  &__button {
    padding: 18px 48px;
    border-radius: 55px;
    background: #C291F4;
    color: white;
    font-size: 20px;
    align-self: end;
    text-decoration: none;
  }
}

.admin-aside-nav {
  margin-top: 68px;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__button {
    max-width: 111px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;

    & span {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.date-range {
  width: 168px;
  height: auto;
  margin-bottom: 14px;
  margin-left: -8px;
  margin-top: -24px;
}

.main {
  &__head-img-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .date-range {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
  }


  &__cards-container {
    justify-content: left;
    gap: 62px;
    margin-bottom: 20px;
  }

  &__card {
    padding: 30px 20px;
    max-width: 413px;
    gap: 30px;

    &-title {
    font-size: 35px;
    }

    &-text {
      font-size: 16px;
    }

    &-date {
      font-size: 35px;
      margin-bottom: 5px;
    }

    &-time {
      font-size: 20px;
    }
  }

  &__button {
    background-color: #D4F21D;
    color: black;
    align-self: start;
  }
}

.graph {
  width: 1084px;
  height: 298px;
  border: 1px solid black;
  margin-right: 44px;
  margin-bottom: 20px;

  &-visits-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
}

.donut {
  width: 1084px;
  height: 298px;
}

.visits {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & span {
    font-size: 16px;
    font-weight: 700;
  }
}

.edit-user {
  &__input {
    width: 280px;
    height: 50px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid var(--Black, #000);
    margin-bottom: 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  &__select {
    padding: 15.5px 20px;
    width: 280px;
    height: 50px;
    margin-left: 10px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    border-radius: 20px;
    border: 1px solid var(--Black, #000);
    background: #D8D8D8;
    display: flex;
    justify-content: space-between;
    appearance: none;
    background-image: url('../img/arrow-down.svg'); 
    background-position-x: calc(100% - 20px);
    background-position-y: center;
    background-repeat: no-repeat;

    & option {
      border-radius: 20px;
      background: #FFF;
      
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
    }

    &-container {
      display: flex;
    }
  }

  &__label {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    align-self: center;
  }

  &__first-inputs-container {
    display: grid;
    grid-template-columns: 118px 280px;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 20px;

  }
}

.table__name-cell-img {
  margin-left: 10px;
  margin-right: 10px;
}

.admin-form {
  padding-bottom: 40px;
}