

.auth {
  max-width: 332px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 233px;

  &__logo-name {
    align-self: start;
    margin-left: 29px;
    margin-bottom: 67px;
  }

  &__input {
    width: 100%;
    height: 66px;
    padding: 10px 38px;
    border-radius: 40px;
    border: 1px solid var(--Black, #000);
    font-size: 20px;
    line-height: 120%;

    &-password {
      margin-bottom: 30px;
    }

    &-login {
      margin-bottom: 20px;
    }

    &::placeholder {
      color: #000;
    }
  }
}