@media screen and (min-width: 768px) and (max-width: 1599px) {
  .content {
    padding: 0 20px;
    overflow: hidden;
  }

  .header {
    padding-top: 14.69px;
  }

  .hero {
    display: flex;
    justify-content: space-between;

    &__img {
      margin-top: -83px;
    }
    
    &__title {
      margin-bottom: 16px;
      font-size: 96px;
      text-wrap: nowrap;

      &-container {
        margin-top: 65px;
        margin-right: 9px;
      }
    }

    &__date {
      margin-bottom: 16px;
      font-size: 24px;
    }
  
    &__description {
      margin-bottom: 50px;
      font-size: 24px;
    }
  }

  .section-chat {
    margin-top: 130px;
  
    &__title {
      font-size: 48px;
      line-height: 120%;
    }
  
    &__text {
      margin-bottom: 66px;
      margin-top: 42px;
    }
  
    &__chat-container {
      margin-top: 31px;
      gap: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__img {
      margin-left: 0;
    }
  }

  .chat {
    height: 533px;

    &__head {
      & span {
        font-size: 40px;
      }
    }

    &__messages {
      gap: 10px;
      padding-left: 22px;
      padding-right: 29px;

    }

    &__temp {
  
      &_bottom {
        bottom: -1px;
        height: 87px;
      }
    }
  
  }

  .chat__input {
    margin-bottom: 15px; 
    margin-right: 20px; 
    margin-left: 20px; 
  }

  .message {
    padding: 10px;
  }

  .user {
    padding: 20px;
  }

  .footer {
    padding: 67px 124.5px 53px 0;
    margin-top: 130px;
  
    &__content {
      display: flex;
      gap: 58.5px;
    }

    &__links {
      margin-top: 22px;
      gap: 12px;
    }

    &__link {
      font-size: 24px;
      text-decoration: none;
      color: var(--Black, #000);
      font-weight: 400;
      line-height: 28px;
    }
  }

  
  .fest-program {
    margin-top: 130px;

    &__title {
      text-shadow: none;
      font-size: 48px;
    }


    &__cards {
      margin-top: 50px;
      gap: 40px;
      margin-bottom: 50px;
      
    }

    &__card {
      padding: 60px 40px;

      &-img {
        margin-top: -25px;
        align-self: end;
      }

      &_square {
        padding: 30px 20px;
        gap: 25px;
      }

      &_rectangle {
        flex-direction: column-reverse;
        gap: 0;
        padding: 40px 36px 40px 20px;
    

        &-text-container {
          gap: 25px;
        }
      }

      &-title {
        line-height: 110%;
        font-size: 40px;
      }

      &-date {
        margin-bottom: 5px;
        font-size: 40px;
      }

      &-time {
        font-size: 24px;
        line-height: 120%; 
        text-transform: uppercase;
      }
    }
  }
  .merch {
   
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      
    }

    &__title {
      font-size: 48px;
      line-height: 110%;
    }

    &__btn {
      &_desktop {
        display: none;
      }

      &_mobile {
        display: block;
      }
    }

    &__card {
      width: 569px;
      
      &_covers {
        margin-bottom: 37px;
      }
      
      &_coffee {
        margin-bottom: 50px;
  
        &-mobile {
          display: block;
        }

        &-desktop {
          display: none;
        }
      }
    }

    &__img {
      margin-left: 0;
      
    }
  }
  
}
    