@charset "UTF-8";
.body * {
  box-sizing: border-box;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.header {
  padding-top: 50px;
}

.logo-name {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
}
.hero__img {
  margin-top: -18px;
}
.hero__title {
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.hero__title-container {
  display: flex;
  flex-direction: column;
  margin-top: 86px;
}
.hero__date {
  margin-bottom: 14px;
  text-transform: uppercase;
}
.hero__description {
  margin-bottom: 60px;
}
.btn {
  border-radius: 55px;
  background: #D4F21D;
  width: 381px;
  height: 84px;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

.section-chat__title {
  font-size: 50px;
  line-height: 110%;
  margin-bottom: 52px;
}
.section-chat__text {
  margin-bottom: 60px;
}

.chat {
  max-width: 700px;
  border-radius: 40px;
  border: 1px solid #000;
  padding: 40px 41px 38px;
  display: flex;
  flex-direction: column;
}
.chat__messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 15px;
}
.chat__input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.chat__input-field {
  display: flex;
  padding: 10px 38px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 55px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
.chat__input-field:active {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.chat__send-button {
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.chat__send-button:active {
  background-color: #0056b3;
}
.chat__canvas {
  width: 200px;
  height: 100px;
  align-self: center;
  justify-self: end;
}
.chat__canvas_hidden {
  display: none;
}
.chat__popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.chat__popup-content {
  /* Стилизуйте ваше содержимое блока */
}
.chat__popup.show {
  display: block;
}

.section-result {
  margin-bottom: 52px;
  display: none;
}
.section-result__title {
  font-size: 50px;
  line-height: 110%;
}
.section-result__result {
  max-width: 1200px;
  padding: 52px 40px 86.38px 88px;
}

.message {
  display: flex;
  padding: 10px 38px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 55px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.user {
  background-color: #FFF;
  align-self: end;
}

.bot {
  background-color: #FFF;
  align-self: flex-start;
}

.about-festival {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
}
.about-festival__title {
  font-size: 50px;
  line-height: 110%;
}
.about-festival__img {
  width: 405px;
  height: 325px;
}
.about-festival__list {
  margin-top: 24px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 567px;
}
.about-festival__list-item {
  display: flex;
  align-items: center;
  gap: 32px;
}
.about-festival__list-img-container {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}
.about-festival__btn {
  align-self: center;
}

.footer {
  padding: 50px 0 74px;
  border-radius: 40px 40px 0px 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.footer__content {
  display: flex;
  gap: 319px;
}
.footer__links {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__link {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.footer__btn {
  width: 248px;
  height: 65px;
  border: 1px solid #000;
}
.footer__btn_telegram {
  color: #FFF;
  background: #000;
  margin-top: 30px;
  margin-bottom: 15px;
}
.footer__btn_email {
  background: #FFF;
}/*# sourceMappingURL=styles.css.map */