.body * {
  box-sizing: border-box;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.header {
  padding-top: 100px;
  display: flex;
  gap: 60px;
  align-items: center;

  & a {
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
  }
}

.logo-name {
  display: flex;
  gap: 15px;
  align-items: center;

  &__name {
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.hero {
  display: flex;
  justify-content: space-between;

  &__img {
    margin-top: -92px;
    width: 100%;

    &_mobile {
      display: none;
    } 
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size: 130px;
    font-weight: 600;
    line-height: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      margin-top: 86px;
    }
  }

  &__date {
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 120%;
  }

  &__description {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 120%;
  }
}

.btn::-moz-focus-inner {
  border: 0;
}

.btn {
  border-radius: 55px;
  background: #D4F21D;
  font-size: 28px;
  border: none;
  cursor: pointer;
  padding: 25px 110px;
  width: fit-content;
  text-decoration: none;

  &-result {
    position: absolute;
    background: var(--Purple, #C291F4);
    line-height: 120%;
    color: white;
    top: 0;
    left: 0;
    z-index: 22;
    border-radius: 55px;
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    outline: none; 


    &:active {
      border: none;
      outline: none; 
    }

    // :focus {
    //   outline: px solid var(--Purple, #C291F4);
    // }
  }
}

.section-chat {
  margin-top: 150px;

  &__title {
    font-size: 50px;
    line-height: 110%;
  }

  &__text {
    margin-bottom: 65px;
    line-height: 120%;
    margin-top: 133px;
  }

  &__chat-container {
    display: flex;
    margin-top: 61px;
    gap: 60px;
  }

  &__img {
    margin-left: 19px;
    width: 100%;

    &_mobile {
      display: none;
    }
  }
}




.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  max-width: 569px;
  width: 100%;
  height: 785px;
  flex-shrink: 0;
  border-radius: 40px 0 0 40px;
  border-left: 1px solid var(--Black, #000);
  border-bottom: 1px solid var(--Black, #000);
  border-bottom-width: calc(100% - 8px);

  &__popup {
    max-width: 1129px;
    width: 100%;
    padding: 60px 50px;
    display: flex;
    display: none;
    gap: 142px;
    justify-content: space-between;
    border-radius: 40px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    &-share {
      font-size: 20px;
      font-weight: 400;
      margin-left: 15px;

      &-container {
        display: flex;
        align-items: center;
      }
    }

    &-btn {
      padding: 25px 36px;
      font-size: 24px;
      line-height: 130%;
      width: 100%;
    }
 
    &-title {
      text-align: center;
      font-size: 50px;
      line-height: 110%;
      
    }

    &-hourly-rate {
      font-size: 60px;
      line-height: 110%;
      align-self: flex-start;
      overflow-wrap: anywhere;
    }
    
    &-description {
      font-size: 20px;
      font-weight: 400;
      margin-top: 40px;
      margin-bottom: 70px;
    }

    &.show {
      display: flex;
    }

    &-column {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_1 {
        max-width: 380px;
        width: 100%;
        gap: 49px;
      }

      &_2 {
        justify-content: center;
        width: 100%;
        max-width: 507px;
      }
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll; /* Включение вертикальной полосы прокрутки */
    padding-top: 33px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 7px;

   
    overscroll-behavior: contain;
    
    scrollbar-color: #EAEAEA #080505; /*Цвет скролла, цвет ползунка*/

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #EAEAEA;
    }

    &::-webkit-scrollbar-thumb {
 
      border-radius: 10px; /* Скругление у ползунка полосы прокрутки */
      background-color: #080505;
    }
  }

  &__btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    right: 7px;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
  }

  &__temp {
    background-color: #EAEAEA;
    width: 8px;
    
    position: absolute;
    right: 0;

    &_top {
      top: 0;
      height: 120px;
    }

    &_bottom {
      bottom: -1px;
      height: 102px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 40px;
    background-color: #FFF;
    border-radius: 0px 0px 0px 40px;
    gap: 10px;
    position: relative;
    margin-left: 40px;
    margin-top: 6px;


    :focus {
      outline: none; 
    }

    
    
    
    
    &-field {
      font-size: 16px;;
      font-weight: 400;
      line-height: 130%; 
      display: flex;
      width: 100%;
      height: 100%;
      width: 100%;
      height: 65px;
      padding: 10px 80px 10px 38px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 55px;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.30);
     
      

      :active {
        border: 1px solid;
        border-color: #000;
      }
    }
  }

  &__head {
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    border-radius: 40px 0px 0px 0px;
    border: 1px solid var(--Black, #000);
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
      color: #FFF;
      font-size: 70px;
      font-weight: 600;
      line-height: 100%; 
      text-transform: uppercase;
    }
  }

  &__send-button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    &:active {
      background-color: #0056b3;
    }
  }

  &__canvas {
    width: 200px;
    height: 100px; 
    align-self: center;
    justify-self: end;
  
    &_hidden {
      display: none;
    }
  }
}

.section-result {
  margin-bottom: 52px;
  display: none;
  
  &__title {
    font-size: 50px;
    line-height: 110%;
  }

  &__result {
    max-width: 1200px;
    padding: 52px 40px 86.38px 88px;
  }
}

.message {
  border-radius: 10px 10px 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.30);
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.60);
  font-weight: 400;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  display: flex;
  overflow-wrap: anywhere;
  white-space: normal;
  
  &-text {
    & span {
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
    }
  }
}

.user {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  align-self: end;
  border-radius: 10px 10px 0px 10px;
  background: #E5FB8C;
}
  
.bot {
  &-text {
    align-self: flex-start;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; 
  }

  &-name {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.footer {
  padding: 50px 0 74px;
  border-radius: 40px 40px 0px 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  margin-top: 130px;

  &__content {
    display: flex;
    gap: 319px;
  }

  &__links {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &_mobile {
      display: none;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &__btn {
    width: 248px;
    height: 65px;
    border: 1px solid #000;
    font-size: 24px;
    line-height: 120%;
    padding: 0;

    &_telegram {
      color: #FFF;
      background: #000;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    &_email {
      background: #FFF;
    }
  }
}

.fest-program {
  margin-top: 150px;

  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__square-cards-container {
    gap: 42px;
  }

  &__title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    line-height: 110%;
  }

  &__square-cards-container {
    display: flex;
    justify-content: space-between;
  }

  &__cards {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 70px;
  }

  &__card {
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    width: 100%;

    &-date-time-container {
      flex-grow: 1;
    }

    &_square {
      max-width: 569.5px;
      flex-direction: column;
      gap: 60px;
    }

    &_rectangle {
      justify-content: space-between;
      padding: 60px 42px;
      border: 1px solid #000;
      flex-direction: row;

      &-text-container {
        max-width: 528px;
        display: flex;
        flex-direction: column;
        gap: 59px;
      }
    }

    &-title {
      font-size: 50px;
      line-height: 110%;
    }

    &-text {
      line-height: 120%;
    }

    &-date {
      font-size: 50px;
      line-height: 110%;
      margin-bottom: 10px;
    }

    &-time {
      font-size: 30px;
      line-height: 120%;
    }

    &_black {
      background: #000;

      & span {
        color: var(--White, #FFF);
      }

      & p {
        color: var(--White, #FFF);
      }
    }

    &_violet {
      background: var(--Purple, #C291F4);
      color: #000;
    }

    &_green {
      background: var(--Green, #D4F21D);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Цвет и прозрачность подложки */
  display: none; /* Изначально скрыта */
  z-index: 998; /* Ниже, чем у всплывающего окна */
}

.overlay.active {
  display: block;
}

.merch {
  margin-top: 150px;

  &__title {
    font-size: 64px;
    line-height: 110%;
  }

  &__container {
    display: flex;
    gap: 62.5px;
    margin-top: 60px;

    &-column {
      display: flex;
      flex-direction: column;
      
    }
  }

  &__card {
    padding: 60px 40px;
    margin-bottom: 37px;
    border-radius: 40px;
    border: 1px solid var(--Black, #000);
    font-size: 30px;

    &_covers {
      margin-bottom: 70px;
    }

    &_coffee {
      margin-bottom: 92.34px;

      &-mobile {
        display: none;
      }
    }
  }

  &__img {
    margin-left: 39.5px;
    width: 100%;
    max-width: 489px;
  }

  &__btn {
    &_mobile {
      display: none;
    }
  }
}

