.body * {
  box-sizing: border-box;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.header {
  padding-top: 100px;
  display: flex;
  gap: 60px;
  align-items: center;

  & a {
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
  }
}

.logo-name {
  display: flex;
  gap: 15px;
  align-items: center;

  &__name {
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.hero {
  display: flex;
  justify-content: space-between;

  &__img {
    margin-top: -92px;
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size: 130px;
    font-weight: 600;
    line-height: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      margin-top: 86px;
    }
  }

  &__date {
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 120%;
  }

  &__description {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 120%;
  }
}

.btn {
  border-radius: 55px;
  background: #D4F21D;
  font-size: 28px;
  border: none;
  cursor: pointer;
  padding: 25px 110px;
  width: fit-content;
}

.section-chat {
  margin-top: 150px;

  &__title {
    font-size: 50px;
    line-height: 110%;
  }

  &__text {
    margin-bottom: 65px;
    line-height: 120%;
    margin-top: 133px;
  }

  &__chat-container {
    display: flex;
    margin-top: 61px;
    gap: 60px;
  }

  &__img {
    margin-left: 19px;
    width: 100%;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 569px;
  width: 100%;
  height: 785px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid var(--Black, #000);


  &__popup {
    max-width: 1062px;
    display: inline-flex;
    padding: 60px 50px;
    align-items: center;
    gap: 165px;
    border-radius: 40px;
    background: #D4F21D;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &.show {
      display: block;
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto; /* Включение вертикальной полосы прокрутки */

    margin-top: 33px;
    padding-left: 25px;
    padding-right: 25px;

    margin-bottom: 27px;


    &::-webkit-scrollbar {
      
      background-color: #F1F1F1;
    }

    &::-webkit-scrollbar-thumb {
      background: #C1C1C1;
      border-radius: 5px; /* Скругление у ползунка полосы прокрутки */
    }

    &::-webkit-scrollbar-button {
      display: block;
      background-color: transparent;
    }


  }

  &__input {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-right: 40px;
    background-color: #FFF;
    border-radius: 0px 0px 0px 40px;
    gap: 10px;
    
    &-field {
      font-size: 16px;;
      font-weight: 400;
      line-height: 130%; 
      display: flex;
      max-width: 478px;
      height: 65px;
      width: 100%;
      padding: 10px 38px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 55px;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.30);

      :active {
        border: 1px solid;
        border-color: #000;
      }
    }
  }

  &__head {
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    border-radius: 40px 40px 0px 0px;
    border: 1px solid var(--Black, #000);
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;


    & span {
      color: #FFF;
      font-size: 70px;
      font-weight: 600;
      line-height: 100%; 
      text-transform: uppercase;
    }
  }

  &__send-button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    &:active {
      background-color: #0056b3;
    }
  }

  &__canvas {
    width: 200px;
    height: 100px; 
    align-self: center;
    justify-self: end;
  
    &_hidden {
      display: none;
    }
  }

}

.section-result {
  margin-bottom: 52px;
  display: none;
  
  &__title {
    font-size: 50px;
    line-height: 110%;
  }

  &__result {
    max-width: 1200px;
    padding: 52px 40px 86.38px 88px;
  }
}

.message {
  border-radius: 10px 10px 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.30);
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.60);
  font-weight: 400;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  display: flex;


  &-text {
    & span {
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
    }
  }
}

.user {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  align-self: end;
  border-radius: 10px 10px 0px 10px;
  background: #E5FB8C;
}
  
.bot {
  &-text {
    align-self: flex-start;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; 
  }

  &-name {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.footer {
  padding: 50px 0 74px;
  border-radius: 40px 40px 0px 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  margin-top: 130px;

  &__content {
    display: flex;
    gap: 319px;
  }

  &__links {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &__btn {
    width: 248px;
    height: 65px;
    border: 1px solid #000;
    font-size: 24px;
    line-height: 120%;
    padding: 0;

    &_telegram {
      color: #FFF;
      background: #000;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    &_email {
      background: #FFF;
    }
  }
}

.fest-program {
  margin-top: 150px;

  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__square-cards-container {
    gap: 42px;
  }

  &__title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    line-height: 110%;
  }

  &__square-cards-container {
    display: flex;
    justify-content: space-between;
  }

  &__cards {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 70px;
  }

  &__card {
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    width: 100%;

    &-date-time-container {
      flex-grow: 1;
    }

    &_square {
      max-width: 569.5px;
      flex-direction: column;
      gap: 60px;
    }

    &_rectangle {
      justify-content: space-between;
      padding: 60px 42px;
      border: 1px solid #000;
      flex-direction: row;

      &-text-container {
        max-width: 528px;
        display: flex;
        flex-direction: column;
        gap: 59px;
      }
    }

    &-title {
      font-size: 50px;
      line-height: 110%;
    }

    &-text {
      line-height: 120%;
    }

    &-date {
      font-size: 50px;
      line-height: 110%;
      margin-bottom: 10px;
    }

    &-time {
      font-size: 30px;
      line-height: 120%;
    }

    &_black {
      background: #000;

      & span {
        color: var(--White, #FFF);
      }

      & p {
        color: var(--White, #FFF);
      }
    }

    &_violet {
      background: var(--Purple, #C291F4);
      color: #000;
    }

    &_green {
      background: var(--Green, #D4F21D);
    }

   
    
  }
}



