<!DOCTYPE html>
<html lang="ru">
  <head>
    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block head_title %}{% endblock head_title %}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;700&family=Rubik+Mono+One&display=swap');
    </style>
  </head>
  <body class="body">
    <div class="content">
      <div class="admin-page">
        <aside class="admin-aside">
          <div class="logo-name">
            <img class="logo-name__logo" src="../static/img/logo.svg" alt="логотип">
            <span class="logo-name__name">Pro-fest</span>
          </div>
          <nav class="admin-aside-nav">
            <div>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/home.svg">
                <span>Главная</span>
              </a>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/activity.svg">
                <span>Конверсии</span>
              </a>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/calendar.svg">
                <span>События</span>
              </a>
            </div>
            <div class="admin-aside-nav__settings-exit-container">
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/setting.svg">
                <span>Настройки</span>
              </a>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/exit.svg">
                <span>Выход</span>
              </a>
            </div>
          </nav>
          
        </aside>
        <div class="admin-header-form-container">
          <header class="admin-header">
            <span class="admin-header__title">События</span>
            <div class="admin-header__data-time" id="clock">
              <p class="date">{{ date }}</p>
              <p class="time admin-header__time">{{ time }}</p>
            </div>
          </header>
          <div class="admin-form">
            <a class="btn events__button" id="add-event-button" href="#">Добавить</a>
            <h2 class="events__table-title events__table-title_active">Активные:</h2>
            <table class="table">
              <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата</th>
                <th>Время</th>
              </tr>
              <tr>
                <td>
                  <table class="table__name-cell">
                    <tr>
                      <td><img class="table__name-cell-img" src="../static/img/edit.svg" alt="Иконка"></td>
                      <td>Экспертные сессии со спикерами</td>
                    </tr>
                  </table>
                </td>
                <td>10 спикеров, выступления на тему карьерного развития, переквалификация</td>
                <td>14 декабря</td>
                <td>
                  <table class="table__time-cell">
                    <tr>
                      <td>18:00-20:00</td>
                      <td><img class="table__time-cell-img" src="../static/img/clipboard-tick.svg" alt="Иконка"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="table__name-cell">
                    <tr>
                      <td><img class="table__name-cell-img" src="../static/img/edit.svg" alt="Иконка"></td>
                      <td>Экспертные сессии со спикерами</td>
                    </tr>
                  </table>
                </td>
                <td>10 спикеров, выступления на тему карьерного развития, переквалификация</td>
                <td>14 декабря</td>
                <td>
                  <table class="table__time-cell">
                    <tr>
                      <td>18:00-20:00</td>
                      <td><img class="table__time-cell-img" src="../static/img/clipboard-tick.svg" alt="Иконка"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="table__name-cell">
                    <tr>
                      <td><img class="table__name-cell-img" src="../static/img/edit.svg" alt="Иконка"></td>
                      <td>Экспертные сессии со спикерами</td>
                    </tr>
                  </table>
                </td>
                <td>10 спикеров, выступления на тему карьерного развития, переквалификация</td>
                <td>14 декабря</td>
                <td>
                  <table class="table__time-cell">
                    <tr>
                      <td>18:00-20:00</td>
                      <td><img class="table__time-cell-img" src="../static/img/clipboard-tick.svg" alt="Иконка"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
 
            <h2 class="events__table-title events__table-title_completed">Завершенные:</h2>
            <table class="table">
              <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата</th>
                <th>Время</th>
              </tr>
              <tr>
                <td>
                  <table class="table__name-cell">
                    <tr>
                      <td><img class="table__name-cell-img" src="../static/img/edit.svg" alt="Иконка"></td>
                      <td>Экспертные сессии со спикерами</td>
                    </tr>
                  </table>
                </td>
                <td>10 спикеров, выступления на тему карьерного развития, переквалификация</td>
                <td>14 декабря</td>
                <td>
                  <table class="table__time-cell">
                    <tr>
                      <td>18:00-20:00</td>
                      <td><img class="table__time-cell-img" src="../static/img/clipboard-tick.svg" alt="Иконка"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="table__name-cell">
                    <tr>
                      <td><img class="table__name-cell-img" src="../static/img/edit.svg" alt="Иконка"></td>
                      <td>Экспертные сессии со спикерами</td>
                    </tr>
                  </table>
                </td>
                <td>10 спикеров, выступления на тему карьерного развития, переквалификация</td>
                <td>14 декабря</td>
                <td>
                  <table class="table__time-cell">
                    <tr>
                      <td>18:00-20:00</td>
                      <td><img class="table__time-cell-img" src="../static/img/clipboard-tick.svg" alt="Иконка"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="table__name-cell">
                    <tr>
                      <td><img class="table__name-cell-img" src="../static/img/edit.svg" alt="Иконка"></td>
                      <td>Экспертные сессии со спикерами</td>
                    </tr>
                  </table>
                </td>
                <td>10 спикеров, выступления на тему карьерного развития, переквалификация</td>
                <td>14 декабря</td>
                <td>
                  <table class="table__time-cell">
                    <tr>
                      <td>18:00-20:00</td>
                      <td><img class="table__time-cell-img" src="../static/img/clipboard-tick.svg" alt="Иконка"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script>
      const clock = new Vue({
      el: '#clock',
      data() {
          return {
              time: '',
              date: ''
          };
        }
      });

      const week = ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'];
      setInterval(updateTime, 1000);
      updateTime();

      function updateTime() {
          const cd = new Date();
          clock.time = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(), 2) + ':' + zeroPadding(cd.getSeconds(), 2);
          clock.date = zeroPadding(cd.getDate(), 2) + '-' + zeroPadding(cd.getMonth() + 1, 2) + '-' + zeroPadding(cd.getFullYear(), 4);
      }

      function zeroPadding(num, digit) {
          let zero = '';
          for (let i = 0; i < digit; i++) {
              zero += '0';
          }
          return (zero + num).slice(-digit);
      }
    </script>
  </body>
</html>