<!DOCTYPE html>
<html lang="ru">
  <head>
    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block head_title %}{% endblock head_title %}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;700&family=Rubik+Mono+One&display=swap');
    </style>
  </head>
  <body class="body">
    <div class="content">
      <div class="admin-page">
        <aside class="admin-aside">
          <div class="logo-name">
            <img class="logo-name__logo" src="../static/img/logo.svg" alt="логотип">
            <span class="logo-name__name">Pro-fest</span>
          </div>
          <nav class="admin-aside-nav">
            <div>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/home.svg">
                <span>Главная</span>
              </a>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/activity.svg">
                <span>Конверсии</span>
              </a>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/calendar.svg">
                <span>События</span>
              </a>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/users.svg">
                <span>Посетители</span>
              </a>
              <a class="admin-aside-nav__button" href="/manage/bot/">
                <img src="../static/img/t-bot.svg">
                <span>Телеграм-бот</span>
              </a>
            </div>
            <div class="admin-aside-nav__settings-exit-container">
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/setting.svg">
                <span>Настройки</span>
              </a>
              <a class="admin-aside-nav__button" href="#">
                <img src="../static/img/exit.svg">
                <span>Выход</span>
              </a>
            </div>
          </nav>
        </aside>
        </div>
        <div class="admin-header-form-container">
          <header class="admin-header">
            <span class="admin-header__title">Главная</span>
            
            <div class="admin-header__data-time" id="clock">
              <p class="date">{{ date }}</p>
              <p class="time admin-header__time">{{ time }}</p>
            </div>
          </header>

    
          <form class="admin-form main">
            <div class="main__head-img-container">
              <h2 class="events__table-title events__table-title_active" style="margin-bottom: 0;">Конверсии</h2>
              <img class="date-range main-date-range" src="../static/img/date-range.png" alt="период">
            </div>
            <div class="graph-visits-container">
              <div class="graph">
                <div>
                  <canvas id="myChart" style="width: 1084px; height: 298px;"></canvas>
                </div>
                
                
                
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                
                <script>
                  const ctx = document.getElementById('myChart');
                
                  new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                      datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });

            
                </script>
                 
                 
              </div>
              <div class="visits">
                <h3>Всего визитов - 1000</h3>
                <span>ФИО - 900</span>
                <span>Возраст - 800</span>
                <span>Профессия - 700</span>
                <span>Город - 600</span>
                <span>Зарплата - 400</span>
                <span>Контакт - 200</span>
              </div>
            </div>
            
            <a class="btn events__button main__button" href="#">Перейти к конверсиям</a>
            <h2 class="events__table-title events__table-title_completed" style="margin-bottom: 20px">Активные события</h2>
            <div class="fest-program__square-cards-container main__cards-container">
              <div class="fest-program__card fest-program__card_square fest-program__card_black main__card">
                <span class="fest-program__card-title main__card-title">Экспертные сессии со спикерами</span>
                <p class="fest-program__card-text main__card-text">10 спикеров, выступления на тему карьерного развития, переквалификация</p>
                <div>
                  <p class="fest-program__card-date main__card-date">14 декабря</p>
                  <p class="fest-program__card-time main__card-time">18:00-20:00</p>
                </div>
              </div>
              <div class="fest-program__card fest-program__card_square fest-program__card_violet main__card">
                <span class="fest-program__card-title main__card-title">Стенд-ап <br> с карьерными гуру</span>
                <p class="fest-program__card-text main__card-text">5 выступлений у открытого <br> микрофона о смешных <br> карьерных ситуациях</p>
                <div>
                  <p class="fest-program__card-date main__card-date">14 декабря</p>
                  <p class="fest-program__card-time main__card-time">18:00-20:00</p>
                </div>
              </div>
              <div class="fest-program__card fest-program__card_square fest-program__card_green main__card">
                <span class="fest-program__card-title main__card-title">Стенд-ап <br> с карьерными гуру</span>
                <p class="fest-program__card-text main__card-text">5 выступлений у открытого <br> микрофона о смешных <br> карьерных ситуациях</p>
                <div>
                  <p class="fest-program__card-date main__card-date">14 декабря</p>
                  <p class="fest-program__card-time main__card-time">18:00-20:00</p>
                </div>
              </div>
            </div>
            
            <a class="btn events__button main__button" href="#" style="margin-bottom: 54px;">Перейти к мероприятиям</a>
            <div style="display: flex;" >
              <div>
                <canvas id="myDonut" style="width: 300px; height: 298px;"></canvas>
              </div>
              <div>
                <canvas id="myDonut2" style="width: 300px; height: 298px;"></canvas>
              </div>
            </div>
          </form>
          
        
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="../static/js/data-time.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                 <script>
                     const ctx1 = document.getElementById('myDonut');
                     const data = {
                         labels: ['Красный', 'Синий', 'Желтый'],
                         datasets: [{
                             data: [30, 40, 30],
                             backgroundColor: ['red', 'blue', 'yellow']
                         }]
                     };
         
                     // Создание экземпляра круговой диаграммы
                     let myChart = new Chart(ctx1, {
                         type: 'doughnut',
                         data: data,
                         options: {
                             responsive: true,
                             maintainAspectRatio: false,
                             /* другие настройки, если нужно */
                         }
                     });
                 </script>
                 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                 <script>
                     const ctx2 = document.getElementById('myDonut2');
                     const data2 = {
                         labels: ['Красный', 'Синий', 'Желтый'],
                         datasets: [{
                             data: [30, 40, 30],
                             backgroundColor: ['red', 'blue', 'yellow']
                         }]
                     };
         
                     // Создание экземпляра круговой диаграммы
                     let myChart2 = new Chart(ctx2, {
                         type: 'doughnut',
                         data: data,
                         options: {
                             responsive: true,
                             maintainAspectRatio: false,
                             /* другие настройки, если нужно */
                         }
                     });
                 </script>
  </body>
</html>