<!DOCTYPE html>
<html lang="ru">
  <head>
    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block head_title %}{% endblock head_title %}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin-auth.css">
    <link rel="stylesheet" type="text/css" href="../static/css/admin-event.css">
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;700&family=Rubik+Mono+One&display=swap');
    </style>
  </head>
  <body class="body">
    <div class="content">
      <div class="admin-logo-container">
        <div class="logo-name">
          <img class="logo-name__logo" src="../static/img/logo.svg" alt="логотип">
          <span class="logo-name__name">Pro-fest</span>
        </div>
      </div>
      <div class="event">
        <header class="admin-header">
          <span class="admin-header__title">События - новое событие</span>
          <div class="admin-header__data-time">
            <span>20-11-2023</span>
            <span class="admin-header__time">14:20</span>
          </div>
        </header>
        <form class="event__form">
          <input type="text" class="admin-input" placeholder="Название">
          <input type="text" class="admin-input" placeholder="Описание">
          <input type="text" class="admin-input" placeholder="Дата старта">
          <input type="text" class="admin-input" placeholder="Дата окончания">
          <input type="text" class="admin-input" placeholder="Время">
          <button class="btn event__btn" type="submit">Добавить</button>
        </form>
      </div>
    </div>

  </body>
</html>