<!DOCTYPE html>
<html lang="en">
  <head>
    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block head_title %}{% endblock head_title %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
  </head>
  <body class="body">
    <div class="content">
      <header class="header">
        <div class="logo-name">
          <img src="../static/img/logo.svg" alt="логотип">
          <span>Дезориентация</span>
        </div>
        <a href="/manage">Админка</a>
      </header>
      <section class="hero">
        <div class="hero__title-container">
          <span class="hero__date">5-10 декабря</span>
          <h1 class="hero__title">Career bootcamp</h1>
          <span class="hero__description">Онлайн-фестиваль о карьере и профессиональном росте </span>
          <button class="btn hero__btn">Записаться</button>
        </div>
        <img class="hero__img" src="../static/img/hero-img.png" alt="разные предметы">
      </section>
      <section class="section-chat" id="section-chat">
        <h2 class="section-chat__title">Убедись, что фестиваль будет <br> тебе полезен</h2>
        <p class="section-chat__text">Узнай стоимость часа своей работы, получи точки роста и забери набор карьерных стикеров от Дезориентации для общения с коллегами</p>
        <div class="chat" id="chat">
          <div class="chat__messages" id="chat-messages">
            <!-- Сюда будут добавляться сообщения чат-бота и пользователя -->
          </div>
          <div class="chat__input">
            <input type="text" class="chat__input-field" id="user-input" placeholder="Введите сообщение">
            <button class="btn chat__btn" id="send-button">Отправить</button>
          </div>
        </div>
      </section>
      <div class="chat__popup" id="popup">
        <!-- Сюда добавьте содержимое вашего блока -->
        <p>Это ваш всплывающий блок!</p>
        <button class="chat__popup-btn" id="chat-popup-btn">Закрыть</button>
      </div>
      <section class="about-festival">
        <h2 class="about-festival__title">Еще о фестивале</h2>
        <div class="about-festival__list-img-container">
          <ul class="about-festival__list">
            <li class="about-festival__list-item">
                <img src="../static/img/gear.svg" alt="шестеренка">
                <span>Прокачаем твою карьеру</span>
            </li>
            <li class="about-festival__list-item">
                <img src="../static/img/gear.svg" alt="шестеренка">
                <span>Послушаем отборные лекции</span>
            </li>
            <li class="about-festival__list-item">
                <img src="../static/img/gear.svg" alt="шестеренка">
                <span>Займемся нетворкингом</span>
            </li>
            <li class="about-festival__list-item">
                <img src="../static/img/gear.svg" alt="шестеренка">
                <span>Посмеемся на стендапе о карьерных ситуациях</span>
            </li>
            <li class="about-festival__list-item">
                <img src="../static/img/gear.svg" alt="шестеренка">
                <span>Разыграем классный мерч среди всех участников фестиваля</span>
            </li>
          </ul>
          <img class="about-festival__img" src="../static/img/about-festival-img.png" alt="разные фигуры">
        </div>
        <button class="btn about-festival__btn">Записаться</button>
      </section>
      
    </div>
    <footer class="footer">
      <div class="content footer__content">
        <div class="footer__logo-links-container">
          <div class="logo-name">
            <img src="../static/img/logo.svg" alt="логотип">
            <span>Дезориентация</span>
          </div>
          <div class="footer__links">
            <a href="#" class="footer__link">Договор оферты</a>
            <a href="#" class="footer__link">Политика конфиденциальности</a>
          </div>
        </div>
        <div class="footer__contact">
          <span>Есть вопросы? Нужна помощь? </span>
          <button class="btn footer__btn footer__btn_telegram">Telegram</button>
          <button class="btn footer__btn footer__btn_email">Email</button>
        </div>
      </div>
    </footer>
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/referrerSender.js"></script>
    <script src="../static/js/chat-app.js"></script>
    
  </body>
</html>