<!DOCTYPE html>
<html lang="ru">
  <head>
    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block head_title %}{% endblock head_title %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/exceptions.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;700&family=Rubik+Mono+One&display=swap');
    </style>
  </head>
  <body class="body">
    <div class="content">
      <header class="header">
        <div class="logo-name">
          <img src="../static/img/logo.svg" alt="логотип">
          <span class="logo-name__name">Pro-fest</span>
        </div>
        <a href="/manage">Админка</a>
      </header>         
      <section class="hero">
        <div class="hero__title-container">
          <span class="hero__date">14-16 декабря</span>
          <h1 class="hero__title">Pro-fest</h1>
          <span class="hero__description">Онлайн-фестиваль о карьерном самоопределении</span>
          <button class="btn hero__btn">Записаться</button>
        </div>
        <div>
          <img class="hero__img" src="../static/img/hero-img.png" alt="разные предметы">
        </div>
      </section>
      <section class="fest-program">
        <h2 class="fest-program__title">Что тебя ждет на фесте?</h2>
        <div class="fest-program__cards">
          <div class="fest-program__square-cards-container">
            <div class="fest-program__card fest-program__card_square fest-program__card_black">
              <span class="fest-program__card-title">Экспертные сессии со спикерами</span>
              <p class="fest-program__card-text">10 спикеров, выступления на тему карьерного развития, переквалификация</p>
              <div>
                <p class="fest-program__card-date">14 декабря</p>
                <p class="fest-program__card-time">18:00-20:00</p>
              </div>
            </div>
            <div class="fest-program__card fest-program__card_square fest-program__card_violet">
              <span class="fest-program__card-title">Стенд-ап <br> с карьерными гуру</span>
              <p class="fest-program__card-text">5 выступлений у открытого <br> микрофона о смешных <br> карьерных ситуациях</p>
              <div>
                <p class="fest-program__card-date">14 декабря</p>
                <p class="fest-program__card-time">18:00-20:00</p>
              </div>
            </div>
          </div>
          <div class="fest-program__card fest-program__card_rectangle">
            <img class="fest-program__card-img" src="../static/img/couple.png" alt="пара">
            <div class="fest-program__card_rectangle-text-container">
              <span class="fest-program__card-title">10 глупых вопросов</span>
              <p class="fest-program__card-text">10 серьезных и несерьезных вопросов профессионалу. Вы заранее сможете задать вопросы спикерам через специальную форму</p>
              <div>
                <p class="fest-program__card-date">15 декабря</p>
                <p class="fest-program__card-time">16:00-17:00</p>
              </div>
            </div>
          </div>
          <div class="fest-program__square-cards-container">
            <div class="fest-program__card fest-program__card_square fest-program__card_green">
              <span class="fest-program__card-title">Карьерная дегустация</span>
              <p class="fest-program__card-text">Пробные консультации с профориентологом, карьерным коучем, разборы резюме</p>
              <div>
                <p class="fest-program__card-date">16 декабря</p>
                <p class="fest-program__card-time">18:00-20:00</p>
              </div>
            </div>
            <div class="fest-program__card fest-program__card_square fest-program__card_black">
              <span class="fest-program__card-title">Бизнес- <br> завтрак</span>
              <p class="fest-program__card-text">Встреча с представителями успешных компаний, обсуждение перспективных отраслей</p>
              <div>
                <p class="fest-program__card-date">16 декабря</p>
                <p class="fest-program__card-time">18:00-20:00</p>
              </div>
            </div>
          </div>
          
        </div>
      </section>
      <section class="section-chat" id="section-chat">
        <h2 class="section-chat__title">Убедись, что фестиваль будет тебе полезен</h2>
        <div class="section-chat__chat-container">
          <div>
            <p class="section-chat__text">Узнай стоимость часа своей работы, получи точки роста и забери набор карьерных стикеров от Дезориентации для общения <br> с коллегами</p>
            <div>
              <img class="section-chat__img" src="../static/img/illustration-man.png" alt="мужчина">
            </div>
          </div>
          <div class="chat" id="chat">
            <div class="chat__head">
              <span>Pro-fest</span>
            </div>
            <div class="chat__messages" id="chat-messages">
              <!-- Сюда будут добавляться сообщения чат-бота и пользователя -->
            </div>
            <div class="chat__input">
              <input type="text" class="chat__input-field" id="user-input" placeholder="Введите ответ на вопрос">
              <!-- <button class="btn chat__btn" id="send-button">Отправить</button> -->
            </div>
          </div>
        </div>
      </section>
      <div class="chat__popup" id="popup">
        <!-- Сюда добавьте содержимое вашего блока -->
        <p>Это ваш всплывающий блок!</p>
        <button class="chat__popup-btn" id="chat-popup-btn">Закрыть</button>
      </div>
     
    </div>
    <footer class="footer">
      <div class="content footer__content">
        <div class="footer__logo-links-container">
          <div class="logo-name">
            <img src="../static/img/logo.svg" alt="логотип">
            <span class="logo-name__name">Pro-fest</span>
          </div>
          <div class="footer__links">
            <a href="#" class="footer__link">Договор оферты</a>
            <a href="#" class="footer__link">Политика конфиденциальности</a>
          </div>
        </div>
        <div class="footer__contact">
          <span>Есть вопросы? Нужна помощь?</span>
          <button class="btn footer__btn footer__btn_telegram">Telegram</button>
          <button class="btn footer__btn footer__btn_email">Дезориентация</button>
        </div>
      </div>
    </footer>
    <script src="../static/js/chat-app.js"></script>
  </body>
</html>



